<form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">
  <h2>Login</h2>
    <div class="col-12 p-inputgroup">
        <span class="p-float-label">
          <input id="float-input" type="text" name="email" pInputText  [(ngModel)]="credentials.email"
                 [ngClass]="{'p-filled': ( credentials.email !== '' )}">
          <label for="float-input">Email</label>
        </span>
      </div>
    <div class="col-12 p-inputgroup">
        <span class="p-float-label">
        <input [(ngModel)]="credentials.password"  name="password" type="password" pInputText
               required
               [ngClass]="{'p-filled': ( credentials.password !== '' )}">
        <label for="float-input">Password</label>
        </span>
    </div>

  <button pButton pRipple type="button" type="submit" label="Login" class="p-button-rounded"></button>

</form>
