<p-button routerLink="/deliveries/create">Create</p-button>
<div class="card">
  <p-dataView #dataView [value]="deliveries.content" [paginator]="true" [rows]="9" filterBy="name"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                    (onChange)="onSortChange($event)"
                    styleClass="mb-2 md:mb-0"></p-dropdown>
        <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name"
                           (input)="dataView.filter($any($event.target).value)">
        </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-delivery pTemplate="listItem">
      <div class="col-12">
        <div class="delivery-list-item">
          <div class="delivery-list-detail">
            <div class="delivery-title">{{delivery.title}}</div>
            <div class="delivery-description">{{delivery.description}}</div>
            <div class="delivery-badge">{{delivery.createdDate}}</div>
            <i class="pi pi-tag delivery-category-icon"></i><span class="product-category">{{delivery.status}}</span>
          </div>
          <div class="delivery-actions">
            <p-button *ngIf="role === 'CUSTOMER' || role === 'ADMIN'" styleClass="p-button-secondary" label="Offers" routerLink="/deliveries/{{delivery.id}}/offers"></p-button>
            <p-button *ngIf="role === 'CUSTOMER' || role === 'ADMIN'" label="Update" icon="pi pi-check" routerLink="/deliveries/{{delivery.id}}"></p-button>
            <p-button *ngIf="role === 'CUSTOMER' || role === 'ADMIN'"
                      label="Delete" icon="pi pi-times" styleClass="p-button-secondary"
                      (click)="removeDelivery(delivery)"></p-button>
            <p-button *ngIf="role === 'TRANSPORTER'" styleClass="p-button-secondary" label="Send offer"
            routerLink="/deliveries/{{delivery.id}}/offer"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-delivery pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="delivery-grid-item card">
          <p-card header="{{delivery.title}}">
            <p>{{delivery.description}}</p>
          </p-card>
          <div class="delivery-actions">
            <p-button *ngIf="role === 'CUSTOMER' || role === 'ADMIN'" styleClass="p-button-secondary" label="Offers"></p-button>
            <p-button *ngIf="role === 'CUSTOMER' || role === 'ADMIN'" label="Update" icon="pi pi-check"></p-button>
            <p-button *ngIf="role === 'CUSTOMER' || role === 'ADMIN'" label="Delete" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
            <p-button *ngIf="role === 'TRANSPORTER'" styleClass="p-button-secondary" label="Send offer"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
