<div class="header-left">
  <i class="pi pi-home" routerLink="/admin"></i>
</div>

<div class="header-middle">
  <a routerLink="/admin/users" routerLinkActive="active">Users</a>
  <a routerLink="/admin/deliveries" routerLinkActive="active">Deliveries</a>
  <a routerLink="/admin/offers" routerLinkActive="active">Offers</a>
</div>

<div class="header-right">
  <p-avatar icon="pi pi-user" shape="circle" (click)="userMenu.toggle($event)"></p-avatar>
  <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
</div>

